/* Auth */

.Auth{
    background-image: url('../src/gallery/Auth_bg.jpg');
    background-size: 100% 100vh;
}

/* Nav */
#menu{
    font-family: "Alfa Slab One", serif;
    font-style: normal;

}
#Navlogin{
    border: 1px solid lightgray;
    height: 3rem;
    width: 10.5rem;
    
}
#Navlogin i{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding-left: 5px;
    padding-top: 3px;
    color:blue;
    background-color:skyblue;
}
#Navlogin:hover{
    background-color: blue;
    border: 1px solid blue;
}




/* Home */


#welcome2{
    width: 100%;
    height: 100%;
    color:white;
    background-image: url('../src/gallery/welcomeimage.jpg');
    background-size: 100% 100%;
}
#explore{
    transition: transform .5s;
}
#explore:hover{
    transform: scale(1.1);
    font-weight: bold;
}

#welcome1 h1{
    font-size: 70px;
    font-weight: 400;
    font-style: normal;
    font-family:"Abril Fatface", serif;
}

#popular{
 transition: transform .5s;
}
#popular:hover{
 transform: scale(1.05);
}
#popular h1{
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
}
#popular p{
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-size: 20px;
}

#latest{
 transition: transform .5s;  
}
#latest:hover{
 transform: scale(1.05);
}
#latest h1{
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: bold;
}
#latest p{
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-size: 20px;
  }

#parent{
    margin-left: 55px;
}
#rounded{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;   
}
#rounded img{
    border-radius: 50%;
}
#float button{
    float: right;
    border: none;
    background-color: white;
}

#shopping{
    height: 30rem;
    background-color: black;
}
#shopping h1{
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: bold;
}

#parentSlider{
    width: 90%;
    margin: auto;
}
#childSlider{
    height: 20rem;
    background-color:white;
    border-radius: 10px;
    padding: 20px;
}
#childSlider img{
    width: 100%;
    height: 14rem;
    border-radius: 10px;
}
#childSlider p{
    margin-top: 20px;
    color: darkred;
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-size: 20px;
}

.slick-slide div{
    margin: 0 10px;
}



/*myprofile */
#profile{
    background-color: darkred;
}


#Logout i{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    padding-top: 2px;
    padding-left: 3px;
}



#userimg{
    height: 7rem;
    text-align: center;
}
#userimg img{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    color: white;
}

#search input{
    width: 30rem;
    height: 3rem;
    border-radius: 20px;
    border: 1px solid gray;
    background: transparent url('https://cdn-icons-png.freepik.com/128/54/54481.png?ga=GA1.1.1242824045.1690906162') no-repeat 13px;
    
    background-size: 20px 20px;
}

#myRecipes h2,h3{
    font-family: "Bebas Neue", sans-serif;
    font-weight:bold;
    font-style: normal;
}
#savedRecipes h2,h3{
    font-family: "Bebas Neue", sans-serif;
    font-weight:bold;
    font-style: normal;
}



/*Add recipe*/
#addHeading{
    font-size: 3rem;
    font-family: "Alfa Slab One", serif;
    font-style: normal;
}
#Addform input{
    width: 20rem;
    height: 40px;
    border-radius: 10px;
    margin-left: 30px;
    text-align: center;
    border: 1px solid gray;
    
}
#Addform label{
    font-weight: bold;
}
#cat{
    margin-right: 12rem;
    
}
#Addform textarea{
    border-radius: 10px;
    text-align: center;
}
#drop{
    margin-left: 21rem;
}  




/*Recipes*/
#recipes{
    overflow-x: hidden;
}
#recipes h1{
  color:darkred;
}  
#category h2{
    color: black;
    font-family: "Bebas Neue", sans-serif;
    font-weight:bold;
    font-style: normal;
  }   

#recipeHeading{
    font-size: 4rem;
    background-color: beige;
    font-family: "Alfa Slab One", serif;
    font-style: normal;
}

/*Recipe card*/
#Easy{
    width: 18rem;
    height: 24rem;
    transition: transform .5s;
}
#Easy h5{
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
}
#Easy:hover{
    transform: scale(1.03);
}

#Easyimg{
    height: 16rem;
    border-radius: 20px;
}
#intro{
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#Like{
    width: 30px;
    height: 30px;
    border: 1px solid skyblue;
    margin-left: 12rem;
    border-radius: 10px;  
    background-color: white; 
}
#Like:hover{
    border: 1px solid red;
}


#love{
    transition: transform .5s;  
}
#love:hover{
    transform: scale(1.1);
}




/* Recipe details */
#Details h1{
    font-family: "Alfa Slab One", serif;
    font-style: normal;
}
#Details p,h3,h5{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
    
}
#Details hr {
    border-top: 1px dashed red;
  }
#save{
    width: 4.5rem;
    height: 3rem;
    border: 1px solid skyblue;
    background-color:white;
    border-radius: 10px;
}  
#save:hover{
    border: 1px solid red;
}

#photo{
    width: 60%;
    height: 30rem;
    margin: auto;
}






