/* Auth */


.Auth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
    background-image: url('../src/gallery/Auth_bg.jpg');
    background-size: 100% 100%;
}
#authForm{
    width: 50%;
}

/* Nav */
nav{
   overflow-x: hidden; 
   display: flex;
   justify-content: space-between;

}

#menuIcon{
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}
#menuIcon span{
    height: 0.4rem;
    width: 100%;
    background-color: black;
    border-radius: 0.2rem;
}

nav ul{
    font-family: "Alfa Slab One", serif;
    display: flex;
    list-style: none;
}

nav ul li{
    padding: 20px;
    border-radius: 20px;
}

#Navlogin i{
    border-radius: 50%;
    color:blue;
    background-color:skyblue;
}
#Navlogin {
    height: 3rem;    
}

#Navlogin button:hover{
    background-color:lightgray;        
}

#Logout button:hover{
    background-color: lightgray;
    
}

ul li:hover{
    background-color: lightgray;
}



/* media query */

@media(max-width:768px){

    /* navigation bar */

  #menuIcon{
    display: flex;
  }

  nav{
    flex-direction: column;
    align-items: start;

  }

  nav ul{
    
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }


  nav ul li{
    width: 100%;
    text-align: center;
    display: none;
  }

  #Navlogin{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }

  #Logout{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }

  #Navlogin button{
    display: none;
  }
  #Logout button{
    display: none;
  }

  ul .open{
    display: inline;
  }

  #Navlogin .open{
    display: inline;
  }

  #Logout .open{
    display: inline;
  }

  /* Home - Rounded */

  #menuRounded{
    display: none;
}

/* Login/Register page */

#authForm{
    width: 75%;
}

/*Home - Shopping */

#shopping{
    display: none;
} 

}




/* footer */
#footer h4{
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-size: 30px;
}
#footer h6{
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
}
#footerMenu{
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-size: 20px;
}


/* Home */


#welcome2{
    width: 100%;
    height: 100%;
    color:white;
    background-image: url('../src/gallery/welcomeimage.jpg');
    background-size: 100% 100%;
}
#explore{
    transition: transform .5s;
}
#explore:hover{
    transform: scale(1.1);
    font-weight: bold;
}

#welcome1 h1{
    font-size: 70px;
    font-weight: 400;
    font-style: normal;
    font-family:"Abril Fatface", serif;
}

#popularRecipes h1{
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: bold;
}
#popular{
 transition: transform .5s;
 height: 18rem;

}
#popular:hover{
 transform: scale(1.05);
}

#popular p{
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-size: 20px;
}


#latestRecipes h1{
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: bold;
}
#latest{
 transition: transform .5s; 
 height:18rem; 
}
#latest:hover{
 transform: scale(1.05);
}
#latest p{
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-size: 20px;
}


#parent{
    margin-left: 55px;
}
#parent h6{
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-size: 20px; 
}

#rounded{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;   
}
#rounded img{
    border-radius: 50%;
}
#float button{
    float: right;
    border: none;
    background-color: white;
}

#shopping{
    height: 30rem;
    background-color: black;
}
#shopping h1{
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: bold;
}

#parentSlider{
    width: 90%;
    margin: auto;
}
#childSlider{
    height: 20rem;
    background-color:white;
    border-radius: 10px;
    padding: 20px;
}
#childSlider img{
    width: 100%;
    height: 14rem;
    border-radius: 10px;
}
#childSlider p{
    margin-top: 20px;
    color: darkred;
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-size: 20px;
}

.slick-slide div{
    margin: 0 10px;
}



/*myprofile */
#profile{
    background-color: darkred;
}
#profile h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight:bold;
    font-style: normal; 
}

#Logout i{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    padding-top: 2px;
    padding-left: 3px;
}



#userimg{
    height: 7rem;
    text-align: center;
}
#userimg img{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    color: white;
}

#search input{
    width: 40%;
    height: 3rem;
    border-radius: 20px;
    border: 1px solid gray;
    background: transparent url('https://cdn-icons-png.freepik.com/128/54/54481.png?ga=GA1.1.1242824045.1690906162') no-repeat 3%;
    
    background-size: 4% 30%;
}

#myRecipes h2,h3{
    font-family: "Bebas Neue", sans-serif;
    font-weight:bold;
    font-style: normal;
}
#savedRecipes h2,h3{
    font-family: "Bebas Neue", sans-serif;
    font-weight:bold;
    font-style: normal;
}



/*Add recipe*/
#addHeading{
    font-size: 3rem;
    font-family: "Alfa Slab One", serif;
    font-style: normal;
}
#Addform input{
    width: 20rem;
    height: 40px;
    border-radius: 10px;
    margin-left: 30px;
    text-align: center;
    border: 1px solid gray;
    
}
#Addform label{
    font-weight: bold;
}
#cat{
    margin-right: 12rem;
    
}
#Addform textarea{
    border-radius: 10px;
    text-align: center;
}
#drop{
    margin-left: 21rem;
}  




/*Recipes*/
#recipes{
    overflow-x: hidden;
}
#recipes h1{
  color:darkred;
}  
#category h2{
    color: black;
    font-family: "Bebas Neue", sans-serif;
    font-weight:bold;
    font-style: normal;
  }   

#recipeHeading{
    font-size: 4rem;
    background-color: beige;
    font-family: "Alfa Slab One", serif;
    font-style: normal;
}

/*Recipe card*/

#Easy{ 
    transition: transform .5s;
}
#Easy h5{
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
}
#Easy:hover{
    transform: scale(1.03);
}

#Easyimg{
    height: 16rem; 
    border-radius: 20px;
}
#intro{
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
#timer{
    justify-content: space-between;
}
#timer p{
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
}

#Like{
    width: 30px;
    height: 30px;
    border: 1px solid skyblue;
    border-radius: 10px;  
    background-color: white; 
}
#Like:hover{
    border: 1px solid red;
}


#love{
    transition: transform .5s;  
}
#love:hover{
    transform: scale(1.1);
}




/* Recipe details */
#Details h1{
    font-family: "Alfa Slab One", serif;
    font-style: normal;
}
#Details p{
    text-align: justify;
}
#Details p,h3,h5{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
    
}
#Details hr {
    border-top: 1px dashed red;
  }
#save{
    width: 4.5rem;
    height: 3rem;
    border: 1px solid skyblue;
    background-color:white;
    border-radius: 10px;
}  
#save:hover{
    border: 1px solid red;
}

#photo{
    width: 60%;
    height: 30rem;
    margin: auto;
}


/* Shopping */

#preparationTools p{
    text-align: justify;
}
#cookWare p{
    text-align: justify;
}
#kitchenUtensils p{
    text-align: justify;
}





